.navContainer {
  display: inline-block;
  margin: 1rem;
  width: 100%;
}

.buttons {
  color: #8d2525;
  margin: 0.5rem;
}

.buttons:hover {
  color: #f7f7f7;
}

a:hover {
  text-decoration: none;
}
